# EditorConfig for Alohomora Project

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{kt,kts}]
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_imports_layout = horizontal_with_spaces
ij_kotlin_keep_blank_lines_in_declarations = 1
ij_kotlin_keep_blank_lines_in_code_blocks = 1
ij_kotlin_keep_indents_on_empty_lines = false
continuation_indent_size = 4

[*.{xml,json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
indent_size = 2

[Makefile]
indent_style = tab