<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
  <application>
    <activity
      android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
      android:exported="true"
      android:label="Debug - Alohomora"
      android:launchMode="singleTask"
      android:taskAffinity="io.github.yashkasera.alohomora.DevToolsActivity"
      android:name=".DevToolsActivity"
      android:excludeFromRecents="false"
      android:windowSoftInputMode="adjustPan">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <service
      android:name=".vpn.AlohomoraVpnService"
      android:permission="android.permission.BIND_VPN_SERVICE"
      android:exported="false"
      android:foregroundServiceType="specialUse">
      <intent-filter>
        <action android:name="android.net.VpnService" />
      </intent-filter>
      <meta-data
        android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON"
        android:value="false" />
    </service>

    <activity
      android:name=".vpn.VpnConsentActivity"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      android:exported="false"
      android:taskAffinity="" />

    <receiver
      android:exported="false"
      android:name=".trace.ClearTracesReceiver" />

    <provider
      android:authorities="${applicationId}.alohomora.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true"
      android:name=".utils.share.AlohomoraFileProvider">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/alohomora_file_paths" />
    </provider>

    <provider
      android:authorities="${applicationId}.androidx-startup"
      android:exported="false"
      android:name="androidx.startup.InitializationProvider"
      tools:node="merge">
      <meta-data
        android:name="io.github.yashkasera.alohomora.AlohomoraInitializer"
        android:value="androidx.startup" />
    </provider>
  </application>

</manifest>
